# Dependencies
node_modules/

# WASM
pkg/

# Next.js
.next/

# Rust
target/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Database
*.sqlite
*.sqlite-journal

# Supabase
**/supabase/.branches
**/supabase/.temp

# Turborepo
.turbo
node_modules
