# filename: supabase/migrations/20000000000000_vault.sql.example
# This is meant to be hidden so that your secrets are not committed to git.
select vault.create_secret('host.docker.internal', 'fdw_host', 'fdw host');
select vault.create_secret('5432', 'fdw_port', 'fdw port');
select vault.create_secret('postgres', 'fdw_dbname', 'fdw db name');
select vault.create_secret('9789', 'fdw_password', 'fdw password');
select vault.create_secret('admin', 'fdw_user', 'fdw user');
